@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    padding: 30px;
    margin: auto;
    width: 600px;
    border: 0px;
    background-color: rgb(255, 255, 255);
}

#titulo {
    text-align: center;
    justify-content:center;
    background-color: #343d8b;
    box-shadow: 10px 10px 3px #93c406;
    border-radius: 10px;
    color:aliceblue;
    width: auto;
    height: 80px;
    margin: auto;
    padding: 0px;
    font-size: 30px;
}

h2 {
    text-align: center;
    color: #343d8b;
    font-size: 11px;
    text-transform: uppercase;
}

#pagecontainer {
    color: #fff;
    background-color: #343d8b;
    box-shadow: 10px 10px 3px #93c406;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

#campo-seletor {
    padding: 10px;
}

.input_valor {
    font-family:'Roboto mono', Times, serif;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #93c406;
    padding: 5px;
    width: 250px;
}

footer {
    text-align: center;    
}

footer a {
    padding: 10px;
    text-decoration: none;
    font-weight: 800;
    color: #0494cc;
}