@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    padding: 30px;
    margin: auto;
    width: 600px;
    border: 0px;
    background-color: rgb(255, 255, 255);
}

#titulo {
    text-align: center;
    justify-content:center;
    background-color: #343d8b;
    box-shadow: 10px 10px 3px #93c406;
    border-radius: 10px;
    color:aliceblue;
    width: auto;
    height: 80px;
    margin: auto;
    padding: 0px;
    font-size: 30px;
}

h2 {
    text-align: center;
    color: #343d8b;
    font-size: 11px;
    text-transform: uppercase;
}

#pagecontainer {
    color: #fff;
    background-color: #343d8b;
    box-shadow: 10px 10px 3px #93c406;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;

}

/*


#calcular{
    height: 2rem;
    width: 6rem;
    background-color: rgb(0, 10, 22);
    color: rgb(221, 236, 255);
    border: 2px solid rgb(221, 236, 255);
    border-radius: 10px 10px 10px 10px;
    transition: 0.4s;
}

#calcular:hover{
    background-color: rgb(221, 236, 255);
    color: rgb(0, 10, 22);
    border: 2px solid rgb(0, 10, 22);
    font-weight: bolder;
    height: 2.2rem;
    width: 6.5rem;
}

.input_valor{
    width: 10rem;
    height: 2rem;
    background-color: rgb(0, 10, 22);
    color: rgb(221, 236, 255);
    border: 2px solid rgb(221, 236, 255);
    border-radius: 10px 10px 10px 10px;
}

*/