@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgb(221, 236, 255);
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

div{
    display: flex;
    margin: 0.3rem;
    width: 100%;
    align-items: center;
    text-align: center;
}

h2{
    align-items: center;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 45px;
    text-align: center;
    background-color: black;
    color:aliceblue;
    width: 50%;
    height: 4rem;
    margin: 25%;
    margin-top: 1%;
    margin-bottom: 0%;
    padding: 0px;
    border-radius: 10px 10px 10px 10px;
}

.resultados{
    border: 2px solid rgb(0, 10, 22);
    width: 60%;
    margin-left: 20%;
    display: block;
    font-weight: bolder;
}

#calcular{
    height: 2rem;
    width: 6rem;
    background-color: rgb(0, 10, 22);
    color: rgb(221, 236, 255);
    border: 2px solid rgb(221, 236, 255);
    border-radius: 10px 10px 10px 10px;
    transition: 0.4s;
}

#calcular:hover{
    background-color: rgb(221, 236, 255);
    color: rgb(0, 10, 22);
    border: 2px solid rgb(0, 10, 22);
    font-weight: bolder;
    height: 2.2rem;
    width: 6.5rem;
}

.input_valor{
    width: 10rem;
    height: 2rem;
    background-color: rgb(0, 10, 22);
    color: rgb(221, 236, 255);
    border: 2px solid rgb(221, 236, 255);
    border-radius: 10px 10px 10px 10px;
}

#pagecontainer{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.2rem;
    display: block;
    border: solid 2px rgb(0, 10, 22);
    border-radius: 20px 20px 20px 20px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 60%;
}